<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/fontawesome.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'home/css/home.css' %}"> {% endcomment %}
    <title>Vanasपती </title>
</head>
<body>
{% include "home/navbar.html" %}

{% comment %} {% include "home/carousel.html" %} {% endcomment %}

{% include "home/cards.html" %}


    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/fontawesome.js' %}"></script>
    <script src="{% static 'home/js/jquery.js' %}"></script>
    <script src="{% static 'home/js/popper.js' %}"></script>
</body>
</html>